
.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.cards-layout-header {
    background-color: rgba(64, 42, 229, 0.7);
}

.app-layout-header {
    background-color: rgba(64, 42, 229, 0.7);
}

.
.made-layout {
    font-size: 17px;
}

body {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
    font-family: 'Segoe UI', 'Roboto', Tahoma;
    display: flex;
    align-items: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

#da {
    margin: auto;
}

.wrapper {
    width: 800px;
    height: 600px;
    margin: auto;
    position: center;
    perspective-origin: left;

}

.main-wrap {
    top: 20px;
    position: relative;
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    margin-left: 230px;
    right: 15%;


}
.side {
    top: 20px;
    position: relative;
    background-color: rgba(150, 159, 229, 0.7);
    float: left;
    width: 230px;
    height: 100%;
    margin: auto;
    right: 15%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.side h3 {
    font-size: 35px;
    margin: 15px 5px 0px;
    color: #eff2e8;

}

.side > div,
.side > input {
    margin: 5px 10px;
}

ul.menu {
    margin: 15px 0;
}

ul.menu li {
    padding: 2px;
    padding-left: 15px;
    color: black;
    cursor: pointer;
}

.label {
    color: black;
    cursor: pointer;

}



.mdl-data-table {
    border-collapse: revert;
    margin: auto;

}

.mdl-grid {
    width: 750px;
    height: 530px;
    margin: auto;

}

.fixed_header {
    width: 660px;

}

.fixed_header tbody {

    height: 300px;
    display: block;
    overflow: auto;
}

.fixed_header thead {
    display: block;
    width: 660px;

}

.fixed_header td {
    text-align: left;
    width: 8%;
}

.fixed_header th {
    text-align: left;
    width: 1%;
}

.demo-card-square.mdl-card {
    width: 240px;
    height: 200px;
    border-collapse: collapse;
}

.demo-card-square > .mdl-card__title {
    background: url(https://cdn3.tz.nl/wp-content/uploads/xxl/2779_7636d618.jpg) center / cover;
    color: #fff;

}

.search {
    width: 220px;
    padding: 8px 5px;
    border: solid 2px #777;
    outline: none;
}

.mdl-button--colored {
    cursor: pointer;
}

.demo-layout-transparent {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}

body {
    background: rgba(0, 0, 0, 0.0392156862745098) linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0));
}

.mdl-data-table.mdl-js-data-table {
    width: 100%;
}

.demo-card-wide.mdl-card {
    min-width: 100%;
    max-height: 150%;
    overflow: auto;

}

.mdl-data-table.mdl-js-data-table td {
    text-align: center;
    border: 0;
}

td#titles {
    text-align: left;
}

.mdl-data-table.mdl-js-data-table td#tekstveld {
    text-align: left;
    padding: 0px 55px 0px 55px;
    max-width: 100%;
}

.mdl-textfield {
    width: 100%;
}

.mdl-textfield textarea.mdl-textfield__input#sample5 {
    display: block;
    min-width: 700px;
}

.cards {
    height: 97%;
    width: 99%;
    overflow: auto;
}

.button {
    color:  white;
    cursor: pointer;
background-color:  rgba(64, 42, 229, 0.7);

}

.nav-bar-made {
    cursor: pointer;
    border-collapse: revert;
position: relative;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    background-color: rgba(64, 42, 229, 0.7);
    display: inline-block;
}



.label-button {
    position: relative;
    left: 50%;
    right: 50%;
    top: 50px;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: mediumblue;
}

