.demo-ribbon {
    width: 100%;
    height: 34vh;

    flex-shrink: 0;
}
.app-layout-header{
    background-color: rgba(64, 42, 229, 0.7);
}
.
.made-layout{
    font-size: 17px;
}
.demo-main {
    margin-top: -35vh;
    flex-shrink: 0;
}
.demo-layout-transparent {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}
body {
    background: rgba(0, 0, 0, 0.0392156862745098) linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0));
}
.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.demo-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    margin-top: 30px;
    padding: 0px 30px 40px;

}

.demo-layout.is-small-screen .demo-content {
    padding: 0px 28px 40px;
}

.demo-content h3 {
    margin-top: 48px;
}

.demo-footer {
    padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.mdl-textfield {
    width: 100%
}

.tb1 {
    float:left;
    width:50%;
}

.tb2 {
    float:right;
    width:50%;
    border:none;
}

.hp {
    float:left;
}

.this-button {
    margin-top: 20px;
    color: white;
    background-color:  rgba(64, 42, 229, 0.7);

}

.main-divje {
    margin-top: 64px;
}


.success-help {
    padding: 0 15px;
    vertical-align: 0px;
    display: none;
    font-size: 16px;
    color: #444;
}

.mdl-spinner {
    vertical-align: middle;
    margin: 0px 10px;
    display: none;
}