html, body {
    height: 100%;
}

body {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}

#login-container {
    margin: auto;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: inherit !important;
}

.mdl-card {
    overflow: visible !important;
    z-index: auto !important;
}

.mdl-button:hover {
    background-color: blueviolet;
}

.button {
    color: white;
    cursor: pointer;
    background-color: rgba(64, 42, 229, 0.7);
}

#login-fab {
    border-radius: 50%;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    overflow: hidden;
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#spinner {
    overflow: hidden;
}

#login-button {
    width: 100%;
    height: 40px;
    min-width: initial;
}

.card-heading {
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.31);
}

#popup {
    height: max-content;
}

#forgotpassword {
    float: right;
}

.mdl-snackbar {
    background-color: #dd0003;
}

.mdl-snackbar__text {
    color: white;
}

#popup {
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#popupHoofdtekst {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    height: 30px;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.31);
}

#popupSecond {
    text-align: center;
    color: rgba(0, 0, 0, 0.31);
}