* {
    /*overflow-x: hidden;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

html, body {
    height: 100%;
}

.demo-layout-transparent {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}

body {
    background: linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0));
}

#login-container {
    margin: auto;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: inherit !important;
}

.mdl-card {
    overflow: visible !important;
    z-index: auto !important;
}

#login-fab {
    border-radius: 50%;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    overflow: hidden;
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lock-icon {
    /*line-height: 56px;*/
}

#spinner {
    overflow: hidden;
}

#login-button {
    width: 100%;
    height: 40px;
    min-width: initial;
}

#card-heading {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    height: 30px;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.31);
}

#forgotpassword {
    float: right;
}