.mdl-grid {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') no-repeat center fixed;
    max-width: calc(100% - 16px);
    margin: 0 auto;
}

.mdl-data-table.mdl-js-data-table{
    width: 100%;
}

.demo-card-wide.mdl-card {
    min-width: 100%;
    margin-top: 75px;
}

.mdl-card__title-text {
    padding: 0px 0px 0px 35px;
}

.mdl-data-table.mdl-js-data-table td {
    text-align: center;
    border: 0;
}

td#titles {
    text-align: left;
    padding: 0px 0px 0px 55px;
}

.mdl-data-table.mdl-js-data-table td#tekstveld {
    text-align: left;
    padding: 0px 0px 0px 55px;
}

.mdl-textfield textarea.mdl-textfield__input#sample5 {
    display: block;
    min-width: 700px;
}