.demo-layout-transparent {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}
body {
    background: rgba(0, 0, 0, 0.0392156862745098) linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0));
}
.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}
body {
    background-color: rgb(175, 131, 0);
    font-family: 'Segoe UI', 'Roboto', Tahoma;
    display: flex;
    align-items: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

.wrapper {
    width: 800px;
    height: 600px;
    margin: 10px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
    box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
}

.main-wrap {
    position: relative;
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    margin-left: 250px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side {

    position: relative;
    background-color: rgba(200, 203, 229, 0.7);
    float: left;
    width: 250px;
    height: 100%;
}


.side h3 {

    font-size: 35px;
    margin: 15px 5px 0px;
    color: #eff2e8;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.side > div,
.side > input {
    margin: 5px 10px;
}


ul.menu {
    margin: 15px 0;
}

ul.menu li {
    padding: 10px;
    padding-left: 15px;
    color: #444;
    cursor: pointer;
}

label {

    color: #444444;
    cursor: pointer;
}


.mdl-data-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    top: 90px;
    height: 380px;
}

.mdl-button{
    width: 175px;
    top: 85px;
    left: 480px;
}


.fixed_header{
    width: 660px;

}
.fixed_header tbody{

    height: 300px;
    display: block;
    overflow: auto;
}

.fixed_header thead {
    display: block;
    width: 660px;

}
.fixed_header td{
    text-align: left;
    width:8%;
}

.fixed_header th{
    text-align: left;
    width: 1%;
}

.demo-card-square.mdl-card {
    width: 240px;
    height: 200px;
    border-collapse: collapse;
}
.demo-card-square > .mdl-card__title {

    color: #fff;
    background:
           brown;
}
.mdl-card__title mdl-card--expand{
    color: mediumblue;
}
.search {
    width: 220px;
    padding: 8px 5px;
    border: solid 2px #777;
    outline: none;
}
.mdl-button--colored{
    color: mediumblue;
}
.demo-layout-transparent {
    background: url('https://www.fluentin3months.com/wp-content/uploads/2011/05/amsterdam.jpg') center / cover;
}
body {
    background: rgba(0, 0, 0, 0.0392156862745098) linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0));
}

.mdl-data-table.mdl-js-data-table{
    width: 100%;
}

.demo-card-wide.mdl-card {
    min-width: 100%;
   max-height: 150%;

}

.mdl-data-table.mdl-js-data-table td {
    text-align: center;
    border: 0;
}

td#titles {
    text-align: left;
}

.mdl-data-table.mdl-js-data-table td#tekstveld {
    text-align: left;
    padding: 0px 55px 0px 55px;
    max-width: 100%;
}

.mdl-textfield{
    width: 100%;
}

.mdl-textfield textarea.mdl-textfield__input#sample5 {
    display: block;
    min-width: 700px;
}
.cards{
    max-height: 90%;
    width: 120%;
    overflow: scroll;
}